<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>888300334520-ul4eud83pff7iqea08m9nrmb6ma3t7qg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.888300334520-ul4eud83pff7iqea08m9nrmb6ma3t7qg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>888300334520-4vevnv1ocekttr5385122be5a8hukv62.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDiNP3O6VbNoPNjfBpHUffBAWWBMlGYwSM</string>
	<key>GCM_SENDER_ID</key>
	<string>888300334520</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moataz.myShop</string>
	<key>PROJECT_ID</key>
	<string>my-shop-c3f72</string>
	<key>STORAGE_BUCKET</key>
	<string>my-shop-c3f72.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:888300334520:ios:2f89c0fdba21da3622f34d</string>
</dict>
</plist>